@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "Gothic-A1";
  src: url("../public/fonts/GothicA1-Regular.ttf") format("ttf");
  /* Add more formats if needed */
  /* font-weight, font-style, etc. */
}

body {
  margin: 0;
  font-family: "Gothic-A1", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
